{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 50.913775285864624,
        "longitude": 5.885894179409663,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Tiber 8",
        "time_zone": "Europe/Amsterdam",
        "external_url": null,
        "internal_url": null
    }
}